body {
    margin: 20px;
}

.avatar {
    width: 150px;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 10px solid #780000;
    border-radius: 10px;
    background-color: #003049;
    color: #fdf0d5;
    font-family: Trebuchet MS, sans-serif;
}

.blue-border {
    border: 1px solid blue;
}
